body {
  font-family: "IBM Plex Sans", sans-serif;
}

section {
  padding: 10px 0px;
}

h1 {
  font-weight: 100;
  color: white;
  font-size: 3rem;
}

div {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
